/* Put your code here */
.grid {
    display: grid;

    grid-template: 100px 100px 100px
    / 200px auto 150px;

    grid-template-areas:
        "fith fith first"
        "third second first"
        "third sixth fourth"
}

.grid div:nth-child(1) {
    grid-area: first;
}

.grid div:nth-child(2) {
    grid-area: second;
}

.grid div:nth-child(3) {
    grid-area: third;
}

.grid div:nth-child(4) {
    grid-area: fourth;
}

.grid div:nth-child(5) {
    grid-area: fith;
}

.grid div:nth-child(6) {
    grid-area: sixth;
}


